.panels-list li {
  display: list-item;
}

.panels-list__item {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.panels-list__item:last-child {
  margin-bottom: 0;
}

.panels-list__label {
  margin-right: 10px;
  color: #ffffff;
}

.panels-list__btn {
  padding: 0 10px;
  height: 30px;
  background: #ffffff;
  box-shadow: 0 0 4px #ffffff;
  border-radius: 10px;
  font-size: 14px;
  line-height: 30px;
  border: 0;
  color: var(--buttonColor);
  cursor: pointer;
  font-weight: 800;
  margin-left: 10px;
}

.sortable-item-1 {
  display: flex;
  width: 100%;
}

.sortable-item-1 {
  margin-bottom: 100px;
  gap: 15px;
}

.sortable-item-1__item {
  height: 100px;
  background: #ffffff;
  padding: 35px 5px;
  text-align: center;
  font-size: 12px;
  border: 1px solid #b8b8b8;
  position: relative;
  line-height: 105%;
  cursor: pointer;
  font-weight: 600;
}

.remove-item-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 18px;
  line-height: 100%;
  cursor: pointer;
}

.remove-item-icon:hover {
  scale: 1.6;
}

.panel--150mm .remove-item-icon {
  top: 0;
  right: -2px;
}

.panel--150mm {
  width: calc(150 * 0.1125px);
  writing-mode: vertical-lr;
  padding: 20px 0;
  line-height: 105%;
}

.panel--350mm {
  width: calc(350 * 0.1125px);
}

.panel--550mm {
  width: calc(550 * 0.1125px);
}

.panel--750mm {
  width: calc(750 * 0.1125px);
}

.panel--768mm {
  width: calc(750 * 0.1125px);
}

.patishon-container-scroll {
  display: flex !important;
  width: calc(6000 * 0.1125px);
  border: 7px solid #747474;
  margin-bottom: 20px;
  min-height: 100px;
}

.width-label {
  color: white;
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
}

/* Добавьте эти стили в ваш CSS файл */
.sortable-item-enter {
  opacity: 0;
  transform: scale(0.9);
}

.sortable-item-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.sortable-item-exit {
  opacity: 1;
  transform: scale(1);
}

.sortable-item-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}